<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title th:text="'Ooops, ' + ${error}"></title>
    <link rel="stylesheet" th:href="@{/css/resets.css}">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/register.css}">
</head>
<body>
    <div class="page-wrapper">
        <div th:insert="fragments/navbar.html :: navbar"></div>
        <a href="/index" id ="index"></a>
        <th:block th:switch="${error}">
            <div th:case="'Not Found'">
                <h1>Sorry, we couldn't find this page.</h1>
            </div>
            <div th:case="'Forbidden'">
                <h1>You don't have permission to view this page. Please sign in.</h1>
            </div>
        </th:block>
    </div>
</body>
</html>