<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/resets.css">
    <link rel="stylesheet" href="/css/layout.css">
</head>
<body>
    <div class="page-wrapper">
        <div class="container">
            <div class="row">
                <div class="column">
                    <div class="logo">
                        <img class="logo-img" th:src="@{/img/karaoke-icon.png}" alt="microphone">
                        <h3>Karaoke Hub</h3>
                    </div>
                    <div class="error">
                        <h1></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>