
body {
    font-family: AppleSystemUIFont, sans-serif;
}

h2 {
    justify-content: space-evenly;
}

.row {
    height: 100%;
}

.headers {
    font-size: 35px;
}


.register-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 60%;
    height: 100%;
    margin-top: 30px;
}

.about {
    font-size: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo > h3 {
    font-size: 40px;
    color: #483d8b;
}

.isaac-container {
    position: relative;
}

.matt-container {
    position: relative;
}

.nick-container {
    position: relative;
}

.joe-container {
    position: relative;
}

.headshot-matt {
    position: relative;
    height: auto;
    width: 100%;
}

.headshot-joe {
    position: relative;
    height: auto;
    width: 100%;
}

.headshot-isaac {
    position: relative;
    height: auto;
    width: 100%;
}

.headshot-nick {
    position: relative;
    height: auto;
    width: 100%;
}


.headshot-joe:hover {
    opacity: 0.2;
    transition: opacity 0.3s ease;
}

.headshot-isaac:hover {
    opacity: 0.2;
    transition: opacity 0.3s ease;
}

.headshot-nick:hover {
    opacity: 0.2;
    transition: opacity 0.3s ease;
}

.headshot-matt:hover {
    opacity: 0.2;
    transition: opacity 0.3s ease;
}



.nick-text {
    position: absolute;
    display: none;
    text-align: center;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition:opacity 0.1s ease;
}

.isaac-text {
    position: absolute;
    display: none;
    text-align: center;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: opacity 0.1s ease;
}

.joe-text {
    position: absolute;
    display: none;
    text-align: center;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: opacity 0.1s ease;
}

.matt-text {
    position: absolute;
    display: none;
    text-align: center;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: opacity 0.1s ease;
}

.row.grow.pics {
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    /*justify-content: space-evenly;*/
    /*align-items: center;*/
    grid-column-gap: 6px;
    grid-row-gap:6px;
    /*height: 100%;*/
    /*width: 100%;*/
    /*flex-wrap: wrap;*/
}

.logo-img {
    height: 50px;
    width: 50px;
}

h1 {
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.column.two {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*align-items: center;*/
    /*justify-content: center;*/
    /*width: 100%;*/
}

.register-form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.form-group {
    position: relative;
}

.account {
    margin-top: 15px;
}

.image-display {
    height: 100%;
    width: 100%;
}
.karaoke-img {
    height: 100%;
    width: 600px
}

.notes {
    position: absolute;
    top: 0;
    left: 57%;
    color: darkslateblue;
}

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        /*flex-wrap: wrap;*/
    }
    .row.content, .row.grow.pics{
        flex-direction: column;
    }
    .column {
        align-items: center;
    }
}
