.logo {
    padding-top: 20px;
}

.page-wrapper {
    background-size: 110%;
}
.background-image-wrapper {
    background-image: url(/static/img/singers2.png);
    background-position: center;
}

.index-button {
    background-color: #2971C3;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
}

.logo > h3 {
    font-size: 40px;
    color: darkslateblue;
}

.index-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.song-finder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.song-finder-label {
    color: white;
    background-color: #FF0000; /* Replace with your desired background color */
    padding: 10px;
}

.song-finder-button {
    color: white;
    background-color: #2971C3; /* Replace with your desired background color */
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
}

     /* CSS for the overlay and fading effect */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #483A88;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    animation: fade-out 5s ease-in-out forwards;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.welcome-message {
    color: #FF00FF;
    font-size: 50px;
    text-align: center;
}

.welcome-message-wrapper {
    width: 50%;
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    border: 5px solid #ff00ff;
    box-shadow: 0 0 20px #ff00ff;
    background-color: transparent;
}

.welcome-message span {
    color: #ff00ff;
    text-shadow: 0px 0px 15px #ff00ff;
    animation: flicker 1s ease-in-out alternate infinite;
}