nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    position: relative;
}

.navbar-links {
    color: #fff;
    text-decoration: none;
    font-size: 22px;
}

.dropdown {
    border: 2px solid #483B89; /* Border around the dropdown container */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    background-color: #f9f9f9;
    min-width: 175px;
    padding: 10px;
    border-radius: 5px;
}

nav ul li:hover .dropdown {
    display: block;
}

.dropdown input,
.dropdown button {
    display: block;
    margin-bottom: 25px;
}

.dropdown p {
    margin-top: 15px;
    margin-bottom: 15px;
}

.dropdown a {
    color: blue;
    text-decoration: underline;
    margin-top: 15px;
}

#logout-button,
.dropdown,
.navbar-links:last-child {
    margin-left: auto;
}

.navbar-links:last-child {
    margin-left: 50px;
}

.dropdown-divider {
    border-top: 1px solid #000; /* Add a solid black border on top */
    margin: 10px 0; /* Add margin for spacing above and below the divider */
}

.find-karaoke-dropdown {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.dropdown-title {
    text-align: center;
    margin-bottom: 20px;
}

.form-entry {
    margin-bottom: 10px;
    border: 3px solid #483B89; /* Border around the input boxes and select elements */
}

.form-entry label {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 10px;
}

.form-input {
    border: 3px solid #483B89;
}
#travel-distance {
    margin-bottom: 10px;
}

#weekday {
    margin-bottom: 10px;
}
.right-link {
    margin-right: 50px;
}

.navbar {
    background-color: #483C8A; /* Replace with your desired background color */
}

.form-entry {
    text-align: center; /* Center the elements horizontally */
    margin-bottom: 10px; /* Add space below the form entry */
}
.form-button {
    width: 100%; /* Set the button width to 100% of the parent container */
    background-color: #483B89; /* Set the button background color to purple */
    color: white; /* Set the text color to white */
    text-align: center; /* Center the text horizontally */
    border-radius: 5px; /* Add rounded corners to the button */
}