body {
    font-family: Poppins, sans-serif;
}

.column.left {
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

nav ul {
    display: flex;
    justify-content: end;
    align-items: center;
    list-style-type: none;
    margin-right: 30px;
    padding: 0;
    gap: 40px;
}

.logo-nav {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.logo-nav > h3 {
    font-size: 40px;
    color: white;
}

.logo-img-nav {
    height: 50px;
    width: 50px;
}

nav ul li {
    display: inline-block;
    position: relative;
}

.home-link {
    color: #fff;
    text-decoration: none;
    font-size: 44px;
}

.navbar-links {
    text-decoration: none;
    font-size: 22px;
}

.dropdown {
    border: .5px solid rgba(0, 0, 0, 0.6); /* Border around the dropdown container */
    box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
    position: absolute;
    z-index: 9;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    background-color: darkslateblue;
    min-width: 190px;
    padding: 10px;
    border-radius: 5px;
}

nav ul li:hover .dropdown {
    display: block;
}

.dropdown input,
.dropdown button {
    display: block;
    margin-bottom: 25px;
}

.dropdown p {
    color: white;
}

.dropdown a {
    color: blue;
    text-decoration: underline;
    margin-top: 15px;
}


.dropdown-divider {
    border-top: 1px solid #000; /* Add a solid black border on top */
    margin: 10px 0; /* Add margin for spacing above and below the divider */
}

.find-karaoke-dropdown {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.dropdown-title {
    text-align: center;
    margin-bottom: 20px;
}

.form-entry {
    margin-bottom: 10px;
    border: 3px solid #483B89; /* Border around the input boxes and select elements */
}

.form-entry label {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 10px;
}

.form-input {
    border: 3px solid #483B89;
}
#travel-distance {
    margin-bottom: 10px;
}

.navbar {
    background-color: #483C8A; /* Replace with your desired background color */
}

.form-entry {
    text-align: center; /* Center the elements horizontally */
    margin-bottom: 10px; /* Add space below the form entry */
}
.form-button {
    width: 100%; /* Set the button width to 100% of the parent container */
    background-color: #483B89; /* Set the button background color to purple */
    color: white; /* Set the text color to white */
    text-align: center; /* Center the text horizontally */
    border-radius: 5px; /* Add rounded corners to the button */
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#check {
    display: none;
}

#signout {
    transition: all .3s ease;
    background: unset;
    color: white;
}

#menuToggle a {
    text-decoration: none;
    color: white;
    transition: color 0.2s ease;
}

@media screen and (max-width: 930px) {

    #menuToggle {
        display: block;
        position: relative;
        left:-10px;
        z-index: 8;
        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle a {
        text-decoration: none;
        color: white;
        transition: color 0.2s ease;
    }

    #menuToggle a:hover {
        color: orangered;
    }

    #signout:hover {
        color: orangered;
    }


    #check {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
    }

    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        margin-right: 10px;
        position: relative;
        background: white;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        opacity 0.55s ease;
    }

    #menuToggle .top {
        transform-origin: 0 0;
    }

    #menuToggle .mid {
        transform-origin: 0 100%;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        left: 110px;
        top: 146px;
        position: absolute;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        border-bottom-left-radius: 5px;
        width: 300px;
        margin: -100px 0 0 -50px;
        padding-top: 20px;
        padding-bottom: 20px;
        background: darkslateblue;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: white;
    }

    #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    #menuToggle input:checked ~ ul {
        transform: translate(-100%, 0);
    }

    .dropdown {
        z-index: 99;
        transition: all 1s ease;
    }

    .dropdown a {
        text-decoration: underline;
    }

}