:root {
    --main-color: darkslateblue;
    --secondary-color: #E52C0B;
    --tertiary-color: #3B8A47;
}

body {
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(72,61,139,1) 100%);
}

.row {
    align-items: center;
    height: 100%;
    gap: 0;
}

.column {
    height: 90%;
    box-shadow: rgba(0, 0, 0, 0.35) 0 35px 45px;
}

.column.register {
    background-color: rgba(0, 0, 0, 0.4);
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px
}

.column.pic {
    justify-content: end;
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

.registration-message {
    position: absolute;
    z-index: 3;
    top: -40px;
    left: 3px;
    font-size: 15px;
    color: var(--secondary-color);
    animation: fade-out 1s linear 3s 1 forwards;
}

.register-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 20px;
}

h1 {
    font-size: 45px;
    margin-bottom: 35px;
    color: white;
}

.register-form {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.update-form {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.form-group > label {
    position: absolute;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: rgba(0, 0, 0, 0.4);
    transition: all .3s ease;
}

.form-group {
    position: relative;
}

.form-group > input {
    border: 1px solid black;
    padding-top: 20px;
    padding-bottom: 7px;
    padding-left: 7px;
    font-size: 20px;
    width: 300px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
}

.form-group > input:focus {
    border: 1px solid orangered;
}

.form-group > input:focus ~ label {
    transform: translateY(-24px);
    left: 5px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 13px;
}

.form-group > input:not(:placeholder-shown) ~ label {
    transform: translateY(-24px);
    left: 5px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 13px;
}

.form-group > input:-webkit-autofill ~ label {
    transform: translateY(-24px);
    left: 5px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 13px;
}

input[type="submit"] {
    height: 40px;
    width: 310px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: rgba(72, 61, 139, 0.4);
    color: whitesmoke;
    transition: all ease .1s;
    cursor: pointer;
}

input[type="submit"]:hover {
    scale: 1.02;
}

.account {
    margin-top: 15px;
    color: white;
}

.account > a {
    color: dimgrey;
    transition: all .2s ease;
}

.account > a:hover {
    color: orangered;
}

.karaoke-img {
    width: 450px
}

.notes {
    position: absolute;
    top: 90px;
    left: 59%;
    color: darkslateblue;
}
.note-position-1 {
    top: 150px;
}

.note-position-2 {
    top: 180px;
    left: 50px;
}

.note-position-3 {
    top: 160px;
    left: 100px;
}

.note-position-4 {
    top: 155px;
    left: 75px;
}

.animation-delay-1 {
    animation-delay: 1s;
}

.animation-delay-2 {
    animation-delay: 2s;
}

.note-animation {
    position: absolute;
    font-size: 25px;
    animation-name: notes;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    opacity: 0;
}

.appear {
    transition: all 0.7s;
    opacity: 0;
    transform: translateY(40px);
}

.appear.inview {
    opacity: 1;
    transform: none;
    transition-delay: 0.2s;
}

@keyframes notes {
    0% {
        font-size: 30px;
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        font-size: 60px;
        margin-top: -150px;
        margin-left: -200px;
        opacity: 0;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .column {
        width: 100%;
        height: 80%;
        border-radius: 0;
    }

    .column.register {
        border-radius: 0;
    }

    .column.pic {
        border-radius: 0;
    }

    h1 {
        font-size: 35px;
    }

    .registration-message {
        top: -35px;
    }

    .karaoke-img {
        padding-top: 40px;
        width: 350px;
    }

    .notes {
        position: absolute;
        top: 550px;
        left: 15%;
        color: darkslateblue;
        pointer-events: none;
    }
}

