body {
    background: radial-gradient(circle at 100% 100%, rgba(0, 0, 0, 1) 0%, rgba(72, 61, 139, 1) 100%) fixed;
}

.page-wrapper {
    overflow: hidden;
}

.container {
    height: 100vh;
}

.instructions-row {
    display: flex;
    justify-content: center;
    width: 70%;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 25px 35px;
}

.instructions-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 15px;
    font-size: 25px;
    color: white;
    animation: pulsate 5s infinite;
}

.song-finder-row {
    display: flex;
    justify-content: center;
    align-items: center; /* Adjust alignment as needed */
    gap: 20px; /* Adjust gap size as needed */
}

.song-finder-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.song-finder-results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid #e82711;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 30px;
    margin-left: auto; /* Center the container on the right side of the page */
    margin-right: auto;
    max-width: 600px; /* Set a maximum width if desired */
}


.song-finder-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Adjust width as needed */
}

.song-finder-container form label {
    margin-top: 10px;
    color: #f9f9f9;
    font-size: 25px;

}

.song-finder-container form {
    display: flex;
    flex-direction: column;
    width: 100%; /* Adjust width as needed */
}

.song-finder-container form select {
    width: 300px;
    height: 50px;
    font-size: 20px;
    border: 1px solid black;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

.song-finder-container form button {
    height: 40px;
    width: 300px;
    margin-top: 15px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: darkslateblue;
    color: whitesmoke;
    background-size: 400% 400%;
    transition: all ease .1s;
    animation: pulsate 1s infinite;
}

.song-finder-container form button:hover {
    scale: 1.02;
}


.song-results-container {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid #e82711;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 30px;
    margin-left: auto; /* Center the container on the right side of the page */
    margin-right: auto;
    max-width: 600px; /* Set a maximum width if desired */
}

.song-results-container h1 {
    text-align: center;
    margin-top: 0;
}

.song-list {
    text-align: left;
}
.song-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.song-number {
    width: 30px;
    margin-right: 10px;
    font-weight: bold;
}

.song-details {
    flex-grow: 1;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #483B89;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    background: transparent;
    border: 3px solid #3c3c3c;
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
    font-family: sans-serif;
    font-size: 20px;
    color: #ff00ff;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: 0 0 10px #ff00ff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.ring:before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top: 3px solid #ff00ff;
    border-right: 3px solid #ff00ff;
    border-radius: 50%;
    animation: animateC 2s linear infinite;
}

.ring span {
    display: block;
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    background: transparent;
    transform-origin: left;
    animation: animate 2s linear infinite;
}

.ring span:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #ff00ff;
    top: -6px;
    right: -8px;
    box-shadow: 0 0 20px #ff00ff;
}

@keyframes animateC {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(405deg);
    }
}
