.instructions-row {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.instructions-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    background-color: #FFFFFF;
    border: 8px solid #FF0000;
    border-radius: 10px;
    padding: 15px;
    font-size: 25px;
    color: #000000;
    animation: pulsate 5s infinite;
}

.song-finder-row {
    display: flex;
    justify-content: center;
    align-items: center; /* Adjust alignment as needed */
    gap: 20px; /* Adjust gap size as needed */
}

.song-finder-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid #e82711;
    border-radius: 10px;
    background-color: #e82711;
    padding: 30px;
    margin-right: auto; /* Center the container on the left side of the page */
    margin-left: auto;
    max-width: 600px; /* Set a maximum width if desired */
}

.song-finder-results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid #e82711;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 30px;
    margin-left: auto; /* Center the container on the right side of the page */
    margin-right: auto;
    max-width: 600px; /* Set a maximum width if desired */
}


.song-finder-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Adjust width as needed */
}

.song-finder-container form label {
    margin-bottom: 10px;
    color: #f9f9f9;
    font-size: 25px;

}

.song-finder-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid #e82711;
    border-radius: 10px;
    background-color: #e82711;
    padding: 30px;
    min-height: 300px; /* Adjust the minimum height as needed */
}

.song-finder-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Adjust width as needed */
}

.song-finder-container form select,
.song-finder-container form button {
    margin-bottom: 15px;
    border: 2px solid #6A0DAD;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    box-sizing: border-box; /* Include padding in width calculation */
}

.song-finder-container form button {
    background-color: #6A0DAD;
    color: #FFFFFF;
    text-size: 25px;
    animation: pulsate 2s infinite;
    width: 100%; /* Make the button full width */
    max-width: 200px; /* Set a maximum width if desired */
}

.song-results-container {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid #e82711;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 30px;
    margin-left: auto; /* Center the container on the right side of the page */
    margin-right: auto;
    max-width: 600px; /* Set a maximum width if desired */
}

.song-results-container h1 {
    text-align: center;
    margin-top: 0;
}

.song-list {
    text-align: left;
}
.song-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.song-number {
    width: 30px;
    margin-right: 10px;
    font-weight: bold;
}

.song-details {
    flex-grow: 1;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #483B89; /* Updated background color */
    display: none; /* Hide the loading screen by default */
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loading-message-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 5px solid #ff00ff;
    box-shadow: 0 0 20px #ff00ff;
    background-color: transparent;
}

.loading-message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #ff00ff;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.loading-message span {
    margin: 0 3px;
    text-shadow: 0px 0px 15px #ff00ff;
    animation: flicker 1s ease-in-out alternate infinite;
}