
.container {
    row-gap: 10px;
}

.yelp-img {
    height: 90%;
    box-shadow: rgba(0, 0, 0, 0.4) -5px 5px, rgba(0, 0, 0, 0.3) -10px 10px, rgba(0, 0, 0, 0.2) -15px 15px, rgba(0, 0, 0, 0.1) -20px 20px, rgba(0, 0, 0, 0.05) -25px 25px;
}

.name-rating {
    position: absolute;
    left: 30px;
    bottom: 100px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 20px;
}

.name-rating > p {
    font-size: 50px;
    font-weight: bold;
}

.name {
    font-size: 60px;
}

.categories {
    display: flex;
    column-gap: 20px;
    list-style-type: none;
}

.edit {
    display: flex;
    column-gap: 15px;
    align-items: end;
    align-self: end;
    padding: 6px;
    transition: all .2s ease;
    cursor: pointer;
}

.delete {
    display: flex;
    align-self: end;
    padding-right:55px;
    padding-top: 8px;
    cursor: pointer;
}

.delete > a:hover {
    color: orangered;
}

.edit:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.edit-img {
    width: 30px;
}

.edit-modal {
    display: none;
    justify-content: center;
    align-content: center;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal {
    background-color: darkslateblue;
    height: 650px;
    border-radius: 20px;
}

.edit-form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 50px;
    border-radius: 20px;
}

.form-group > label {
    position: absolute;
    font-size: 13px;
    top: 5px;
    left: 5px;
    color: rgba(0, 0, 0, 0.6);
}

.form-group {
    position: relative;
}

.form-group > input {
    border: 1px solid black;
    padding-top: 20px;
    padding-bottom: 7px;
    padding-left: 7px;
    font-size: 20px;
    width: 300px;
    border-radius: 10px;
}

.form-group > input:focus {
    border: 1px solid orangered;
}

input[type="submit"] {
    height: 40px;
    width: 310px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: rgba(0,0, 0, 0.4);
    color: whitesmoke;
    background-size: 400% 400%;
    transition: all ease .1s;
}

input[type="submit"]:hover {
    scale: 1.02;
}

.profile {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.location {
    border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.rating {
    display: flex;
    column-gap: 5px;
    align-items: center;
}

.star {
    filter: invert(57%) sepia(85%) saturate(425%) hue-rotate(5deg) brightness(100%) contrast(88%);
    width: 25px;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}