@media  (max-width: 768px) {
    .column, .row{
        align-items: center;
    }
    .column {
        align-items: center;
    }
}


.container {
    row-gap: 10px;
}

.row {
    padding: 0;
}

.column.left {
    gap: 20px;
}

.images {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.img-wrapper {
    position: relative;
    display: flex;
    height: 300px;
    width: 100%;
}

.yelp-img {
    width: 33.3%;
}

.name-rating {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    border-top-right-radius: 20px;
    padding: 20px;
}

.name-rating > p {
    font-size: 50px;
    font-weight: bold;
}

.name {
    font-size: 60px;
}

.categories {
    display: flex;
    column-gap: 20px;
    list-style-type: none;
}

.contact-info {
    position: sticky;
    width: 400px;
    top: 360px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding-inline: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    gap: 20px;
}

.icon {
    width: 20px;
}

hr {
    border: .5px solid rgba(0, 0, 0, 0.2);
}

.business-hours {
    column-gap: 80px;
}

.hours {

}

.days > p {
    display: inline;
}

.edit {
    display: flex;
    column-gap: 15px;
    align-self: center;
    justify-content: center;
    padding: 6px;
    width: 390px;
    transition: all .2s ease;
    cursor: pointer;
}
.delete {
    position: absolute;
    top: 15px;
    right: 15px;
}
.delete-btn {
    width: 25px;
    filter: invert(11%) sepia(80%) saturate(7366%) hue-rotate(0deg) brightness(101%) contrast(112%);
}

.edit:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.edit-img {
    width: 30px;
}

.edit-modal {
    display: none;
    justify-content: center;
    align-content: center;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: darkslateblue;
    height: 600px;
    border-radius: 20px;
}

.edit-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    padding-inline: 50px;
    border-radius: 20px;
}

.form-group > label {
    position: absolute;
    font-size: 13px;
    top: 5px;
    left: 5px;
    color: rgba(0, 0, 0, 0.6);
}

.form-group {
    position: relative;
}

.form-group > textarea {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 10px;
}

.reviews-wrapper {
    min-height: 100px;
    max-height: 400px;
    width: 600px;
    overflow: hidden;
}

.show {
    height: fit-content;
}

.show-less {
    content: 'See less reviews';
}

.review {
    height: 100px;
}

.review-btn {
    width: 200px;
    height: 40px;
    background-color: darkslateblue;
    color: white;
    border-radius: 10px;
}

.review-btn:hover {
    scale: 1.02;
}

.review > h4 {
    font-weight: bold;
}

.form-group > input {
    border: 1px solid black;
    padding-top: 20px;
    padding-bottom: 7px;
    padding-left: 7px;
    font-size: 20px;
    width: 300px;
    border-radius: 10px;
}

.form-group > input:focus {
    border: 1px solid orangered;
}

input[type="submit"] {
    height: 40px;
    width: 310px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: rgba(0,0, 0, 0.4);
    color: whitesmoke;
    background-size: 400% 400%;
    transition: all ease .1s;
}

input[type="submit"]:hover {
    scale: 1.02;
}

.profile {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.location {
    border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.rating {
    display: flex;
    column-gap: 5px;
    align-items: center;
}

.star {
    filter: invert(57%) sepia(85%) saturate(425%) hue-rotate(5deg) brightness(100%) contrast(88%);
    width: 25px;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}