<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>About Page</title>
  <link rel="stylesheet" th:href="@{/css/navbar.css}">
  <link rel="stylesheet" th:href="@{/css/resets.css}">
  <link rel="stylesheet" th:href="@{/css/layout.css}">
  <link rel="stylesheet" th:href="@{/css/footer.css}">
  <link rel="stylesheet" th:href="@{/css/about.css}">
</head>
<body>
<div class="page-wrapper">
  <div th:insert="fragments/navbar.html :: navbar"></div>
  <div class="container grow">
    <div class="row grow justify-space-between">
      <div class="column align-center">
        <div class="header">
          <h1>About Us</h1>
          </div>
        <div>
          <div class="row content">
          <!--  Left column holding "about us" paragraph.  -->
            <div class="column">
              <h2 class="headers">Our Mission</h2>
              <p class="about">
                Karaoke Hub is a veteran owned and operated web application that allows users to find karaoke venues in
                their area. Users can also create an account and add their favorite karaoke venues to their profile.
                This allows users to keep track of their favorite karaoke venues and find new ones to attend. We hope you
                  enjoy using this website as much as we enjoyed making it.
              </p>
            </div>
            <div class="column">
              <h2 class="headers">Our Team</h2>
<!--              Create a grid of four elements to hold images-->
              <div class="row grow pics">
                <div class="matt-container">
                  <img class="headshot-matt" th:src="@{/img/matt.jpg}" alt="matt">
                  <div class="matt-text">
                    <p>Matthew Lorber is a full stack web developer. He has over 15 years of cyber-security experience
                      between his time in the United States Army and civilian careers.</p>
                    <p>Check out Matt's LinkedIn<a href="https://www.linkedin.com/in/matthew-lorber-921668213/" target="_blank"
                                                   rel="noopener noreferrer"> here </a>
                    <p> and his GitHub <a href="https://github.com/cybermatt76" target="_blank"
                                          rel="noopener noreferrer"> here. </a></p>
                  </div>
                </div>
                <div class="isaac-container">
                  <img class="headshot-isaac" th:src="@{/img/isaac.jpg}" alt="isaac">
                  <div class="isaac-text">
                    <p> Isaac is a full stack web developer. His web design skills are second to none
                      and he is a veteran of the United States Air Force.</p>
                                          <p>Check out Isaac's LinkedIn<a href="https://www.linkedin.com/in/isaac-achenbach/" target="_blank"
                                                                        rel="noopener noreferrer"> here </a>
                                          <p> and his GitHub <a href="https://github.com/isaacach" target="_blank"
                                                                rel="noopener noreferrer"> here.</a></p>
                  </div>
                </div>
                <div class="nick-container">
                  <img class="headshot-nick" th:src="@{/img/nick.jpg}" alt="nick">
                  <div class="nick-text">
                    <p>Nick is a full stack web developer. He specializes in team management and
                      has an eye for design. He is a veteran of the United States Army.</p>
                                            <p>Check out Nick's LinkedIn<a href="https://www.linkedin.com/in/nicholas-owens01/" target="_blank"
                                                                          rel="noopener noreferrer"> here </a>
                                            <p> and his GitHub <a href="https://github.com/NicholasOwens1" target="_blank"
                                                                  rel="noopener noreferrer"> here.</a></p>
                  </div>
                </div>
                <div class="joe-container">
                  <img class="headshot-joe" th:src="@{/img/joe.jpg}" alt="joe">
                  <div class="joe-text">
                    <p>Joe Beltran is a full stack web developer. He has extensive knowledge of database
                      infrastructure and is a veteran of the United States Navy.</p>
<!--                                         <img class="joe-logo" th:src="@{/img/linkedin-logo}" alt="linkedin logo">-->
                                         <p>Check out Joe's LinkedIn<a href="https://www.linkedin.com/in/joe-beltran91/" target="_blank"
                                           rel="noopener noreferrer"> here </a>
                                         <p> and his GitHub <a href="https://github.com/Joeab1991" target="_blank"
                                                               rel="noopener noreferrer"> here.</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:insert="fragments/navbar.html :: footer"></div>
<script src="js/about.js"></script>
</body>
</html>