<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Venue</title>
    <link rel="icon" type="image/x-icon" href="/img/karaoke-icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <link rel="stylesheet" th:href="@{/css/resets.css}">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/create-venue.css}">
</head>
<body>
<div class="page-wrapper">
    <div th:insert="fragments/navbar.html :: navbar"></div>
    <div class="container grow">
        <div class="row grow justify-space-between rel">
            <div class="column align-center appear">
                <div class="create-box">
                    <h1>Create Venue</h1>
                </div>
                <div class="confirm">
                    <p>Is this the correct venue? Press confirm or refresh to try again</p>
                </div>
                <form class="register-form" th:action="@{/create-venue}" th:object="${venue}" th:method="post">
                    <div class="form-group">
                        <input id="name" name="name" placeholder=" " th:field="*{name}">
                        <label for="name">Name</label>
                    </div>
                    <div class="form-group">
                        <input id="address" name="address" placeholder=" " th:field="*{address}">
                        <label for="address">Address (optional)</label>
                    </div>
                    <div class="form-group">
                        <input id="city" name="city" placeholder=" " th:field="*{city}">
                        <label for="city">City (optional)</label>
                    </div>
                    <div class="form-group">
                        <input id="state" name="state" placeholder=" " th:field="*{state}">
                        <label for="state">State (optional)</label>
                    </div>
                    <div class="form-group">
                        <input id="zip_code" name="zip_code" placeholder=" " th:field="*{zip_code}">
                        <label for="zip_code">Zip Code</label>
                    </div>
                    <div class="form-group">
                        <input id="website" name="website" placeholder=" " th:field="*{website}">
                        <label for="website">Website (optional)</label>
                    </div>
                    <input type="hidden" id="yelp_id" name="yelp_id" th:field="*{yelp_id}">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    <input id="create-btn" type="button" value="Create">
                    <input id="confirm-btn" type="submit" value="Confirm">
                </form>
            </div>
        </div>
    </div>
</div>
<div th:insert="fragments/navbar.html :: footer"></div>
<script>
    const nameInput = document.getElementById('name');
    const cityInput = document.getElementById('city');
    const yelpIdInput = document.getElementById('yelp_id');

    nameInput.addEventListener('input', generateYelpId);
    cityInput.addEventListener('input', generateYelpId);

    function generateYelpId() {
        const name = nameInput.value.toLowerCase().replace(/\s+/g, '-').replace(/'s/g, '');
        const city = cityInput.value.toLowerCase().replace(/\s+/g, '-');
        yelpIdInput.value = `${name}-${city}`;
    }

    const appear = document.querySelectorAll('.appear');
    const cb = function(entries){
        entries.forEach(entry => {
            if(entry.isIntersecting){
                entry.target.classList.add('inview');
            }
        });
    }
    const io = new IntersectionObserver(cb);
    appear.forEach(el => io.observe(el));
</script>
<script src="/js/create-venue.js"></script>
</body>
</html>
