<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/resets.css}">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/register.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">

</head>
<body>
<div class="page-wrapper" style="background-image: url('/img/singers5.png'); background-size: cover; background-position: center;">
    <div th:insert="fragments/navbar.html :: navbar"></div>
    <div class="index-header">
        <div sec:authorize="isAuthenticated()">
            <a class="index-button" th:href="@{/user-profile}">Edit User Profile</a>
        </div>
        <div class="logo">
            <img class="logo-img" th:src="@{/img/karaoke-icon.png}" alt="microphone">
            <h3>Karaoke Hub</h3>
        </div>
        <a class="index-button" th:href="@{/search.html}">Browse Karaoke Venues</a>
    </div>

</div>
<div th:insert="fragments/navbar.html :: footer"></div>
</body>
</html>