<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/resets.css}">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/register.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
<div class="page-wrapper" style="background-image: url('/img/venue_background2.png');
 background-position: center;">
    <div th:insert="fragments/navbar.html :: navbar"></div>
    <div class="index-header">
        <div sec:authorize="isAuthenticated()">
            <a class="index-button" th:href="@{/profile}">Edit User Profile</a>
        </div>
        <div class="song-finder">
            <a class="song-finder-button" th:href="@{/song-finder}">Click Here!! Song Finder - powered by ChatGPT</a>
        </div>
        <a class="index-button" th:href="@{/browse-venues}">Browse Karaoke Venues</a>
    </div>

</div>

<!-- Overlay HTML -->
<div id="overlay" class="overlay">
    <div class="welcome-message-wrapper">
        <h1 class="welcome-message">
            <span>K</span>
            <span>a</span>
            <span>r</span>
            <span>a</span>
            <span>o</span>
            <span>k</span>
            <span>e</span>
            &nbsp;
            <span>H</span>
            <span>u</span>
            <span>b</span>
            &nbsp;
            <span>L</span>
            <span>i</span>
            <span>v</span>
            <span>e</span>
        </h1>
    </div>
</div>

<div th:insert="fragments/navbar.html :: footer"></div>

<script>
    // JavaScript to remove the overlay after 3 seconds
    const overlay = document.getElementById('overlay');
    const isSplashDisplayed = sessionStorage.getItem('splashDisplayed');
    if (!isSplashDisplayed) {
        overlay.style.display = 'flex';
        setTimeout(() => {
            overlay.style.opacity = '0';
            setTimeout(() => {
                overlay.style.display = 'none';
                sessionStorage.setItem('splashDisplayed', true);
            }, 5000); // Hide the overlay after 5 seconds
        }, 3000); // Keep the overlay visible for 3 seconds
    } else {
        overlay.style.display = 'none';
    }
</script>
</body>
</html>

