<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/resets.css}">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
<div class="page-wrapper">
    <div th:insert="~{fragments/navbar.html :: navbar}"></div>
    <div class="container grow">
        <div class="row grow justify-space-between">
            <div class="column align-center">
                <div class="login-box">
                    <div class="logo">
                        <img class="logo-img" th:src="@{/img/karaoke-icon.png}" alt="microphone">
                        <h3>Karaoke Hub</h3>
                    </div>
                    <h1>Login</h1>
                    <form class="login-form" th:action="@{/login}" th:method="post">
                        <p class="login-message" th:text="${message}"></p>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input id="username" name="username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input id="password" name="password" type="password">
                        </div>
                        <input type="submit" value="Login">
                    </form>
                    <p class="account">Don't have an account yet? <a th:href="@{/register}">Register</a></p>
                </div>
            </div>
            <div class="column align-center">
                <div class="image-display">
                    <img class="karaoke-img" th:src="@{/img/karaoke-singer.png}" alt="karaoke">
                    <div class="notes">
                        <div class="note-position-1 note-animation animation-delay-1">
                            &#9835;
                        </div>
                        <div class="note-position-2 note-animation animation-delay-2">
                            &#9833;
                        </div>
                        <div class="note-position-3 note-animation animation-delay-1">
                            &#9839;
                        </div>
                        <div class="note-position-4 note-animation animation-delay-2">
                            &#9834;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<div th:insert="~{fragments/navbar.html :: footer}"></div>
</html>