<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/resets.css}">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/register.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
<div class="page-wrapper">
    <div th:insert="fragments/navbar.html :: navbar"></div>
    <div class="container grow">
        <div class="row grow justify-space-between">
            <div class="column align-center">
                <div class="register-box">
                    <div class="logo">
                        <img class="logo-img" th:src="@{/img/karaoke-icon.png}" alt="microphone">
                        <h3>Karaoke Hub</h3>
                    </div>
                    <h1>Create an <br>Account</h1>
                    <form class="register-form" th:action="@{/register}" th:object="${user}" th:method="post">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input id="username" name="username" th:field="*{username}">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input id="email" name="email" th:field="*{email}">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input id="password" name="password" type="password" th:field="*{password}">
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">Confirm Password</label>
                            <input id="confirmPassword" name="confirmPassword" type="password">
                        </div>
                        <input type="submit" value="Register">
                    </form>
                    <p class="account">Already have an account? <a th:href="@{/login}">Login</a></p>
                </div>
            </div>
           <div class="column align-center">
                <div class="image-display">
                    <img class="karaoke-img" th:src="@{/img/karaoke-singer.png}" alt="karaoke">
                    <div class="notes">
                        <div class="note-position-1 note-animation animation-delay-1">
                            &#9835;
                        </div>
                        <div class="note-position-2 note-animation animation-delay-2">
                            &#9833;
                        </div>
                        <div class="note-position-3 note-animation animation-delay-1">
                            &#9839;
                        </div>
                        <div class="note-position-4 note-animation animation-delay-2">
                            &#9834;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="fragments/navbar.html :: footer"></div>
<script src="js/yelp-api.js"></script>
</body>
</html>