<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Page</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/resets.css}">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/search.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">

    <!--    <link rel="stylesheet" th:href="@{/css/footer.css}">     -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js'></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css' type='text/css' />
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css' rel='stylesheet' />
    <!--    <link rel="stylesheet" href="/css/resets.css">-->
    <!--    <link rel="stylesheet" href="/css/layout.css">-->
</head>
<body>
<div class="search-container">
<div th:insert="fragments/navbar.html :: navbar"></div>
<div class="search-page">
<form id="zipcodeForm" class="search-form" th:action="@{/search-venue}" th:method="post">
    <input id="zipcode" name="zipcode" class="zipcode" type="text" placeholder="Enter Zip Code"/>
<!--    <div class="form-group">-->
<!--        <label for="travel-distance">Travel Distance:</label>-->
<!--        <select id="travel-distance" class="form-input">-->
<!--            <option value="5">5 miles</option>-->
<!--            <option value="10">10 miles</option>-->
<!--            <option value="15">15 miles</option>-->
<!--            <option value="20">20 miles</option>-->
<!--            <option value="25">25 miles</option>-->
<!--            <option value="30">30 miles</option>-->
<!--        </select>-->
<!--    </div>-->
    <div class="form-group">
        <label for="weekday">Day of the Week:</label>
        <select id="weekday" class="form-input">
            <option value="Any">Any</option>
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
            <option value="Sunday">Sunday</option>
        </select>
    </div>
    <button class="submit-search" type="submit">Search</button>
</form>
<div class='map' id='map' style='width: 1000px; height: 850px;'></div>
<div class='sidebar'>
    <div class='heading'>
        <h1>Our locations</h1>
    </div>
    <div id='listings' class='listings'></div>
</div>


<script src="/js/keys.js"></script>
<script src="/js/geocoder-utils.js"></script>
<script src="/js/mapbox.js" type="module"></script>
</div>
<div th:insert="fragments/navbar.html :: footer"></div>
</div>
</body>
</html>
