<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Venue Profile</title>
    <link rel="stylesheet" th:href="@{/css/resets.css}">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/venue-profile.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
<div class="page-wrapper">
    <div th:insert="fragments/navbar.html :: navbar"></div>
    <div class="container">
        <div class="row images">
            <div class="img-wrapper"></div>
            <div class="name-rating">
                <p th:text="${venue.name}" class="name"></p>
                <div class="rating"></div>
                <ul class="categories"></ul>
            </div>
        </div>
        <div class="row">
            <div class="column left">
                <h3>Business hours</h3>
                <div class="business-hours row justify-center">
                    <div class="column shrink days">
                        <p>Mon</p>
                        <p>Tue</p>
                        <p>Wed</p>
                        <p>Thu</p>
                        <p>Fri</p>
                        <p>Sat</p>
                        <p>Sun</p>
                    </div>
                    <div class="column hours"></div>
                </div>
                <h3>Karaoke hours</h3>
                <div class="karaoke-hours">
                    <div th:each="event : ${events}">
                        <p><span th:text="${event.day_of_week}"></span>
                            <span th:text="${event.start_time}"></span>
                            - <span th:text="${event.end_time}"></span></p>
                    </div>
                </div>
                <hr>
                <h3>Leave a comment</h3>
                <div class="leave-review">
                    <form th:action="@{/venue/comment}" th:method="post">
                        <div class="form-group">
                            <label for="body"></label>
                            <textarea cols="50" rows="3" name="body" id="body"></textarea>
                            <button class="review-btn">Post comment</button>
                            <input type="hidden" th:value="${venue.id}" name="venue_id">
                        </div>
                    </form>
                </div>
                <h3>Comments</h3>
                <div class="reviews-wrapper">
                    <div th:if="${numComments} != null" class="review" th:each="comment : ${comments}">
                        <h4>@<span th:text="${comment.user.getUsername()}"></span></h4>
                        <p th:text="${comment.body}"></p>
                        <br>
                        <hr>
                    </div>
                    <div th:if="${numComments} == null" class="review" >
                        <h4>Be the first to comment!</h4>
                    </div>
                </div>
                <button class="see-all">See all comments</button>
            </div>
            <div class="column align-center">
                <div class="contact-info column shrink">
                    <div class="row justify-space-between align-center">
                        <a th:href="${venue.website}" target="_blank"><p th:text="${venue.website}" class="website"></p></a>
                        <img class="icon" src="/img/redirect.png">
                    </div>
                    <hr />
                    <div class="row justify-space-between align-center">
                        <p class="phone"></p>
                        <img class="icon" src="/img/phone.png">
                    </div>
                    <hr />
                    <div class="row justify-space-between align-center">
                        <div class="column">
                            <p th:text="${venue.address}"></p>
                            <p><span th:text="${venue.city}"></span>, <span th:text="${venue.state}"></span> <span th:text="${venue.zip_code}"></span></p>
                        </div>
                        <img class="icon" src="/img/map.png">
                    </div>
                    <hr />
                    <div class="edit">
                        <h3>Edit profile</h3>
                        <img class="edit-img" src="/img/edit1.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--</div>-->

    <div class="edit-modal">
        <div class="modal">
            <form class="edit-form" th:action="@{/create-venue}" th:object="${venue}" th:method="post">
                <input type="hidden" th:field="*{id}" />
                <div class="form-group">
                    <label for="name">Name</label>
                    <input id="name" name="name" th:field="*{name}">
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input id="address" name="address" th:field="*{address}">
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input id="city" name="city" th:field="*{city}">
                </div>
                <div class="form-group">
                    <label for="state">State</label>
                    <input id="state" name="state" th:field="*{state}">
                </div>
                <div class="form-group">
                    <label for="zip_code">Zip Code</label>
                    <input id="zip_code" name="zip_code" th:field="*{zip_code}">
                </div>
                <div class="form-group">
                    <label for="website">Website</label>
                    <input id="website" name="website" th:field="*{website}">
                </div>
                <input class="submit-edit" type="submit" value="Submit Edit">
            </form>
            <div class="delete">
                <a th:href="@{|/delete-venue/${venue.id}|}"><img class="delete-btn" src="/img/delete.png"></a>
            </div>
        </div>
    </div>
    <div th:insert="fragments/navbar.html :: footer"></div>
</div>
<input class="venueName" type="hidden" th:value="${venue.name}">
<input class="venueZip" type="hidden" th:value="${venue.zip_code}">
<script src="/js/venue-profile.js"></script>

</body>
</html>