<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Venue Profile</title>
    <link rel="stylesheet" th:href="@{/css/resets.css}">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/venue-profile.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
<div class="page-wrapper">
    <div th:insert="fragments/navbar.html :: navbar"></div>
    <div class="container">
        <div class="row top"></div>
        <div class="row">
            <div class="column left">
                <div class="img-wrapper"></div>
                <div class="name-rating">
                    <h1 th:text="${venue.name}" class="name"></h1>
                    <div class="rating"></div>
                    <ul class="categories"></ul>
                </div>
            </div>
            <div class="column">
                <div class="edit">
                    <h3>Edit Profile</h3>
                    <img class="edit-img" th:src="@{/img/edit1.png}">
                </div>
                <div class="profile">
                    <div class="rating"></div>
                    <h1 th:text="${venue.address}" class="address"></h1>
                    <h1 th:text="${venue.city}" class="city"></h1>
                    <h1 th:text="${venue.state}" class="state"></h1>
                    <a th:href="${venue.website}" target="_blank"><h1 th:text="${venue.website}" class="website"></h1></a>
                </div>
                <h1>Events:</h1>
                <div th:each="event: ${events}">
                    <h2 th:text="${event.day_of_week}"></h2>
                    <h4>Start time: <span th:text="${event.start_time}"></span></h4>
                    <h4>Start time: <span th:text="${event.end_time}"></span></h4>
                </div>
            </div>
        </div>
    </div>
    <div class="edit-modal">
        <div class="modal">
            <form class="edit-form" th:action="@{/edit-venue}" th:object="${venue}" th:method="post">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input id="name" name="name" th:field="*{name}">
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <input id="address" name="address" th:field="*{address}">
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input id="city" name="city" th:field="*{city}">
                </div>
                <div class="form-group">
                    <label for="state">State</label>
                    <input id="state" name="state" th:field="*{state}">
                </div>
                <div class="form-group">
                    <label for="zip_code">Zip Code</label>
                    <input id="zip_code" name="zip_code" th:field="*{zip_code}">
                </div>
                <div class="form-group">
                    <label for="website">Website</label>
                    <input id="website" name="website" th:field="*{website}">
                </div>
                <input type="submit" value="Submit Edit">
            </form>
        </div>
    </div>
    <div th:insert="fragments/navbar.html :: footer"></div>
</div>
<input class="venueName" type="hidden" th:value="${venue.name}">
<input class="venueZip" type="hidden" th:value="${venue.zip_code}">
<script src="/js/venue-profile.js" ></script>
</body>
</html>